@import "~bulma/sass/utilities/initial-variables";


$primary: rgb(0, 177, 80);
$primary-invert: rgb(255, 255, 255);

// Helper Classes
.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 5em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.ecse--card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ecse--card-equal-height .card-footer {
  margin-top: auto;
}

@import "~bulma";
